---
import { menuLinks } from "@/site-config";

import Search from "../Search.astro";
import ThemeToggle from "../ThemeToggle.astro";

const url = new URL(Astro.request.url);
---

<header class="group relative mb-28 flex items-center sm:ps-[4.5rem]" id="main-header">
	<div class="flex sm:flex-col">
		<a
			aria-current={url.pathname === "/" ? "page" : false}
			class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
			href="/"
		>
			<svg
				aria-hidden="true"
				class="me-3 h-10 w-6 sm:absolute sm:start-[-4.5rem] sm:me-0 sm:h-20 sm:w-12"
				fill="none"
				focusable="false"

				xmlns="http://www.w3.org/2000/svg"
				width="512"
				height="512"
				viewBox="0 0 512 512"
				version="1.1">
				
				<path d="M 420.634 33.586 C 398.571 38.927, 381.938 61.555, 384.418 82.854 C 385.607 93.059, 393.902 108.766, 407.949 127.410 C 416.794 139.150, 430.793 155.500, 432 155.500 C 434.596 155.500, 460.126 123.067, 468.615 108.987 C 478.445 92.681, 481.198 82.844, 479.097 71.537 C 474.072 44.496, 447.317 27.128, 420.634 33.586 M 422.005 49.607 C 399.348 57.840, 392.732 85.780, 409.476 102.524 C 416.046 109.094, 421.992 111.451, 432 111.451 C 442.008 111.451, 447.954 109.094, 454.524 102.524 C 461.094 95.954, 463.451 90.008, 463.451 80 C 463.451 69.992, 461.094 64.046, 454.524 57.476 C 446.307 49.260, 432.294 45.869, 422.005 49.607 M 114.455 402.455 C 109.494 407.415, 113.009 416, 120 416 C 124.111 416, 128 412.111, 128 408 C 128 403.889, 124.111 400, 120 400 C 118.052 400, 116.002 400.907, 114.455 402.455 M 386.455 402.455 C 384.907 404.002, 384 406.052, 384 408 C 384 409.948, 384.907 411.998, 386.455 413.545 C 388.002 415.093, 390.052 416, 392 416 C 393.948 416, 395.998 415.093, 397.545 413.545 C 399.093 411.998, 400 409.948, 400 408 C 400 406.052, 399.093 404.002, 397.545 402.455 C 395.998 400.907, 393.948 400, 392 400 C 390.052 400, 388.002 400.907, 386.455 402.455"
				stroke="none"
				fill="#ff3051"
				fill-rule="evenodd"/>
				<path d="M 420.634 33.586 C 398.571 38.927, 381.938 61.555, 384.418 82.854 C 385.607 93.059, 393.902 108.766, 407.949 127.410 C 416.794 139.150, 430.793 155.500, 432 155.500 C 434.596 155.500, 460.126 123.067, 468.615 108.987 C 478.445 92.681, 481.198 82.844, 479.097 71.537 C 474.072 44.496, 447.317 27.128, 420.634 33.586 M 422.005 49.607 C 399.348 57.840, 392.732 85.780, 409.476 102.524 C 416.046 109.094, 421.992 111.451, 432 111.451 C 442.008 111.451, 447.954 109.094, 454.524 102.524 C 461.094 95.954, 463.451 90.008, 463.451 80 C 463.451 69.992, 461.094 64.046, 454.524 57.476 C 446.307 49.260, 432.294 45.869, 422.005 49.607 M 114.455 402.455 C 109.494 407.415, 113.009 416, 120 416 C 124.111 416, 128 412.111, 128 408 C 128 403.889, 124.111 400, 120 400 C 118.052 400, 116.002 400.907, 114.455 402.455 M 386.455 402.455 C 384.907 404.002, 384 406.052, 384 408 C 384 409.948, 384.907 411.998, 386.455 413.545 C 388.002 415.093, 390.052 416, 392 416 C 393.948 416, 395.998 415.093, 397.545 413.545 C 399.093 411.998, 400 409.948, 400 408 C 400 406.052, 399.093 404.002, 397.545 402.455 C 395.998 400.907, 393.948 400, 392 400 C 390.052 400, 388.002 400.907, 386.455 402.455"
				stroke="none"
				fill="#ff3051"
				fill-rule="evenodd"/>
				<path d="M 109.946 206.750 L 106.500 210.500 110.250 207.054 C 113.740 203.846, 114.460 203, 113.696 203 C 113.529 203, 111.842 204.688, 109.946 206.750 M 353 206.500 C 354.866 208.425, 356.617 210, 356.892 210 C 357.167 210, 355.866 208.425, 354 206.500 C 352.134 204.575, 350.383 203, 350.108 203 C 349.833 203, 351.134 204.575, 353 206.500 M 110.618 369.048 C 104.290 370.638, 95.284 375.968, 90.912 380.711 C 88.667 383.147, 85.405 388.147, 83.665 391.820 C 80.799 397.869, 80.500 399.402, 80.500 408.052 C 80.500 417.067, 80.710 418.028, 84.235 425.160 C 96.577 450.132, 128.514 455.581, 148.048 436.048 C 160.383 423.712, 163.274 406.084, 155.536 390.391 C 149.030 377.198, 136.802 369.135, 122.249 368.442 C 117.987 368.239, 112.753 368.512, 110.618 369.048 M 382.618 369.048 C 376.290 370.638, 367.284 375.968, 362.912 380.711 C 360.667 383.147, 357.405 388.147, 355.665 391.820 C 352.799 397.869, 352.500 399.402, 352.500 408.052 C 352.500 417.067, 352.710 418.028, 356.235 425.160 C 368.577 450.132, 400.514 455.581, 420.048 436.048 C 432.383 423.712, 435.274 406.084, 427.536 390.391 C 421.030 377.198, 408.802 369.135, 394.249 368.442 C 389.987 368.239, 384.753 368.512, 382.618 369.048 M 112.173 385.269 C 106.854 386.971, 99.418 394.324, 97.590 399.690 C 94.287 409.383, 96.137 417.205, 103.466 424.534 C 113.701 434.769, 127.824 434.551, 137.299 424.012 C 146.409 413.879, 146.171 400.486, 136.715 391.216 C 130.087 384.717, 120.874 382.485, 112.173 385.269 M 384.173 385.269 C 378.854 386.971, 371.418 394.324, 369.590 399.690 C 366.287 409.383, 368.137 417.205, 375.466 424.534 C 385.701 434.769, 399.824 434.551, 409.299 424.012 C 418.409 413.879, 418.171 400.486, 408.715 391.216 C 402.087 384.717, 392.874 382.485, 384.173 385.269"
				stroke="none"
				fill="#6d6e71"
				fill-rule="evenodd"/>
				<path d="M 61.500 290.659 C 57.094 292.978, 53.105 296.967, 50.658 301.500 C 48.617 305.283, 48.483 307.029, 48.194 333.626 L 47.887 361.752 51.876 360.688 L 55.864 359.623 56.198 331.562 C 56.557 301.470, 56.494 301.867, 62.255 293.250 C 63.817 290.913, 64.962 289.018, 64.798 289.040 C 64.634 289.062, 63.150 289.791, 61.500 290.659 M 36.364 369.170 C 33.049 370.775, 32 374.341, 32 384 C 32 393.900, 33.046 397.244, 36.657 398.890 C 40.826 400.789, 42.089 400.364, 40.975 397.435 C 40.439 396.024, 40 389.978, 40 384 C 40 378.022, 40.439 371.976, 40.975 370.565 C 41.791 368.419, 41.669 368.011, 40.225 368.068 C 39.276 368.105, 37.539 368.601, 36.364 369.170"
				stroke="none"
				fill="#2488ff"
				fill-rule="evenodd"/>
				<path d="M 67.250 288.693 C 65.026 289.134, 60.540 294.888, 58.211 300.288 C 57.550 301.821, 56.735 305.646, 56.400 308.788 L 55.792 314.500 58.499 309.222 C 67.685 291.316, 93.441 291.616, 101.732 309.726 C 103.769 314.176, 104.149 316.314, 103.821 321.477 C 102.271 345.815, 69.476 352.651, 58.635 330.895 L 56 325.607 56 342.679 L 56 359.750 53.064 360.337 C 51.437 360.663, 47.982 363.059, 45.314 365.712 L 40.500 370.500 40.177 382.500 C 39.991 389.393, 40.305 395.684, 40.914 397.283 L 41.975 400.066 53.125 399.783 L 64.275 399.500 65.651 394 C 69.279 379.490, 81.215 364.430, 94.031 358.192 C 116.982 347.021, 142.113 350.949, 159.471 368.420 C 167.048 376.047, 171.977 384.521, 174.351 394 L 175.728 399.500 256 399.500 L 336.272 399.500 337.649 394 C 342.512 374.580, 358.642 358.581, 378.460 353.522 C 386.082 351.576, 397.918 351.576, 405.540 353.522 C 425.356 358.581, 441.478 374.569, 446.354 394 L 447.734 399.500 461.342 399.500 C 474.170 399.500, 475.080 399.370, 477.225 397.222 C 479.312 395.132, 479.500 394.049, 479.500 384.077 C 479.500 371.683, 478.486 369.531, 472.113 368.396 C 465.990 367.306, 464.314 364.915, 463.551 356.180 C 460.761 324.238, 441.396 300.217, 410.839 290.793 L 403.500 288.530 236.500 288.388 C 144.650 288.311, 68.488 288.448, 67.250 288.693 M 250.174 298.314 C 248.011 300.618, 248 300.842, 248 344.140 L 248 387.651 250.314 389.826 C 253.486 392.805, 258.957 392.739, 261.826 389.686 C 263.989 387.382, 264 387.158, 264 343.860 L 264 300.349 261.686 298.174 C 258.514 295.195, 253.043 295.261, 250.174 298.314 M 386.174 298.314 C 384.095 300.527, 384 301.484, 384 320.140 C 384 339.242, 384.049 339.697, 386.314 341.826 C 389.486 344.805, 394.957 344.739, 397.826 341.686 C 399.905 339.473, 400 338.516, 400 319.860 C 400 300.758, 399.951 300.303, 397.686 298.174 C 394.514 295.195, 389.043 295.261, 386.174 298.314"
				stroke="none"
				fill="#57a4ff"
				fill-rule="evenodd"/>
				<path d="M 76.321 313.189 C 70.798 315.859, 71.282 324.632, 77.086 327.036 C 85.991 330.724, 92.152 317.124, 83.385 313.130 C 80.428 311.782, 79.210 311.792, 76.321 313.189"
				stroke="none"
				fill="#d8810e"
				fill-rule="evenodd"/>
				<path d="M 424.962 66.250 C 420.159 68.672, 416 75.053, 416 80 C 416 81.417, 417.012 84.584, 418.250 87.038 C 420.672 91.841, 427.053 96, 432 96 C 436.947 96, 443.328 91.841, 445.750 87.038 C 446.988 84.584, 448 81.417, 448 80 C 448 75.053, 443.841 68.672, 439.038 66.250 C 436.584 65.013, 433.417 64, 432 64 C 430.583 64, 427.416 65.013, 424.962 66.250 M 189.536 201.113 C 166.996 204.396, 146.396 219.193, 136.602 239.135 C 131.866 248.778, 129.638 256.241, 128.506 266.250 L 127.856 272 255.428 272 L 383 272 383 268.628 C 383 263.719, 378.694 247.528, 375.079 238.844 C 370.763 228.477, 363.080 217.131, 354.084 207.840 L 346.492 200 270.996 200.122 C 229.473 200.189, 192.816 200.635, 189.536 201.113 M 250.455 210.455 L 248 212.909 248 236 L 248 259.091 250.455 261.545 C 252.002 263.093, 254.052 264, 256 264 C 257.948 264, 259.998 263.093, 261.545 261.545 L 264 259.091 264 236 L 264 212.909 261.545 210.455 C 259.998 208.907, 257.948 208, 256 208 C 254.052 208, 252.002 208.907, 250.455 210.455"
				stroke="none"
				fill="#ffdaaa"
				fill-rule="evenodd"/>
				<path d="M 171.597 177.106 C 148.487 180.181, 127.067 190.683, 110.897 206.868 C 95.107 222.672, 83.748 245.430, 81.432 265.902 L 80.742 272 96.371 272 L 112 272 112 266.958 C 112 255.339, 117.248 238.693, 125.169 225.183 C 129.461 217.864, 145.864 201.461, 153.183 197.169 C 162.053 191.968, 173.778 187.282, 182.208 185.567 C 188.709 184.245, 199.984 183.989, 254.208 183.927 L 318.500 183.854 313.104 181.938 C 298.570 176.778, 297.303 176.688, 236 176.430 C 204.375 176.297, 175.394 176.601, 171.597 177.106"
				stroke="none"
				fill="#ffcd00"
				fill-rule="evenodd"/>
				<path d="M 413.878 18.364 C 381.468 27.958, 360.811 63.493, 370.115 93.645 C 375.859 112.256, 395.455 141.286, 419.466 166.750 C 427.399 175.163, 428.521 176, 431.871 176 C 435.103 176, 436.356 175.174, 442.113 169.250 C 467.115 143.521, 487.827 113.275, 493.885 93.645 C 497.799 80.961, 496.062 63.950, 489.539 51.078 C 484.114 40.371, 472.795 28.834, 462.148 23.159 C 448.289 15.773, 429.078 13.864, 413.878 18.364 M 420.634 33.586 C 398.571 38.927, 381.938 61.555, 384.418 82.854 C 385.607 93.059, 393.902 108.766, 407.949 127.410 C 416.794 139.150, 430.793 155.500, 432 155.500 C 434.596 155.500, 460.126 123.067, 468.615 108.987 C 478.445 92.681, 481.198 82.844, 479.097 71.537 C 474.072 44.496, 447.317 27.128, 420.634 33.586 M 422.005 49.607 C 399.348 57.840, 392.732 85.780, 409.476 102.524 C 416.046 109.094, 421.992 111.451, 432 111.451 C 442.008 111.451, 447.954 109.094, 454.524 102.524 C 461.094 95.954, 463.451 90.008, 463.451 80 C 463.451 69.992, 461.094 64.046, 454.524 57.476 C 446.307 49.260, 432.294 45.869, 422.005 49.607 M 117 54.612 C 95.003 57.327, 75.363 65.055, 58.809 77.509 C 48.215 85.479, 46.584 89.738, 52.040 95.194 C 56.082 99.236, 58.874 98.620, 67.811 91.714 C 97.299 68.930, 137.243 64.741, 170.532 80.940 C 176.049 83.625, 183.915 88.412, 188.012 91.578 C 192.847 95.313, 196.406 97.333, 198.152 97.333 C 204.465 97.333, 208.596 90.924, 205.765 85.522 C 203.760 81.695, 189.832 71.628, 179.500 66.537 C 163.627 58.717, 149.796 55.240, 132 54.596 C 125.675 54.367, 118.925 54.375, 117 54.612 M 423.922 66.274 C 418.739 69.766, 416 74.512, 416 80 C 416 85.488, 418.739 90.234, 423.922 93.726 C 433.734 100.339, 448 92.207, 448 80 C 448 67.793, 433.734 59.661, 423.922 66.274 M 116.500 87.035 C 102.204 89.231, 85.604 96.431, 76.250 104.493 C 72.658 107.589, 72 108.736, 72 111.904 C 72 114.528, 72.694 116.303, 74.314 117.826 C 78.107 121.389, 81.962 120.654, 90.711 114.698 C 95.844 111.204, 101.569 108.391, 107.500 106.448 C 115.529 103.818, 117.794 103.508, 128.500 103.577 C 143.826 103.675, 153.262 106.507, 165.086 114.558 C 170.761 118.423, 174.030 120, 176.364 120 C 180.787 120, 184 116.535, 184 111.763 C 184 108.698, 183.286 107.543, 179.250 104.079 C 172.861 98.597, 158.270 91.406, 148.638 88.994 C 139.250 86.642, 124.794 85.761, 116.500 87.035 M 117.059 119.556 C 104.385 122.304, 92 130.640, 92 136.422 C 92 139.834, 96.942 145, 100.207 145 C 101.505 145, 105.027 143.412, 108.034 141.470 C 111.040 139.529, 115.719 137.279, 118.432 136.470 C 128.343 133.515, 138.240 135.190, 147.966 141.470 C 150.973 143.412, 154.495 145, 155.793 145 C 159.058 145, 164 139.834, 164 136.422 C 164 130.529, 151.405 122.253, 138.163 119.447 C 130.010 117.719, 125.420 117.743, 117.059 119.556 M 162.597 161.607 C 111.525 170.830, 71.997 212.357, 64.894 264.250 C 63.926 271.323, 63.373 273, 62.008 273 C 58.673 273, 48.333 279.036, 43.657 283.711 C 41.035 286.333, 37.452 291.397, 35.695 294.964 L 32.500 301.449 32.188 327.273 C 31.878 352.982, 31.866 353.100, 29.632 353.950 C 25.482 355.528, 20.732 360.381, 18.367 365.459 C 16.288 369.923, 16.018 371.975, 16.010 383.384 C 15.999 398.133, 16.991 402.462, 21.628 407.878 C 27.295 414.499, 30.379 415.433, 48.427 416 L 64.354 416.500 65.529 421.728 C 69.753 440.524, 86.414 457.300, 106.045 462.525 C 113.045 464.387, 126.955 464.387, 133.955 462.525 C 153.584 457.301, 170.239 440.532, 174.474 421.728 L 175.651 416.500 256 416.500 L 336.349 416.500 337.526 421.728 C 341.761 440.533, 358.415 457.301, 378.045 462.525 C 385.045 464.387, 398.955 464.387, 405.955 462.525 C 425.585 457.301, 442.247 440.523, 446.471 421.728 L 447.646 416.500 463.573 416 C 480.676 415.463, 484.497 414.416, 489.688 408.847 C 494.692 403.479, 495.956 398.468, 495.956 384 C 495.956 372.549, 495.646 369.817, 493.916 366 C 491.418 360.490, 488.598 357.369, 483.977 354.998 C 480.584 353.258, 480.389 352.850, 478.711 343.972 C 471.989 308.413, 444.213 280.374, 408.819 273.420 L 400.190 271.725 399.039 263.612 C 391.789 212.490, 353.896 172.372, 303.077 162.016 C 293.763 160.118, 289.608 160.005, 231.843 160.090 C 183.378 160.161, 168.841 160.479, 162.597 161.607 M 167.919 177.010 C 139.246 181.863, 113.478 198.444, 97.658 222.219 C 88.519 235.955, 82.969 250.574, 80.563 267.250 L 79.877 272 95.778 272 L 111.679 272 112.830 262.636 C 116.602 231.946, 134.185 206.856, 161.264 193.527 C 179.871 184.367, 177.318 184.627, 253 184.205 C 319.459 183.834, 319.497 183.833, 314.762 181.938 C 312.156 180.896, 305.560 179.133, 300.105 178.021 C 290.770 176.119, 286.720 176.007, 231.343 176.118 C 198.979 176.182, 170.439 176.584, 167.919 177.010 M 184 201.551 C 180.425 202.317, 173.450 204.950, 168.500 207.403 C 153.379 214.897, 142.886 225.392, 135.410 240.500 C 130.878 249.657, 128.049 260.088, 128.017 267.750 L 128 272 256.061 272 L 384.123 272 383.485 267.250 C 380.507 245.058, 369.629 222.848, 353.953 206.953 L 347.097 200 268.798 200.079 C 205.914 200.143, 189.220 200.433, 184 201.551 M 252.364 209.170 C 251.189 209.738, 249.727 211.304, 249.114 212.649 C 247.588 215.999, 247.601 256.031, 249.130 259.385 C 251.660 264.939, 260.340 264.939, 262.870 259.385 C 264.396 256.037, 264.412 215.999, 262.890 212.657 C 261.808 210.284, 258.125 207.931, 255.703 208.068 C 255.041 208.105, 253.539 208.601, 252.364 209.170 M 64 289.299 C 59.085 290.860, 50.720 299.528, 49.216 304.616 C 48.393 307.402, 48 317.456, 48 335.730 L 48 362.727 45.364 365.364 C 43.723 367.004, 41.628 368, 39.818 368 C 38.063 368, 35.936 368.973, 34.455 370.455 C 32.144 372.766, 32 373.558, 32 384 C 32 394.442, 32.144 395.234, 34.455 397.545 C 36.824 399.915, 37.389 400, 50.733 400 L 64.557 400 66.340 393.080 C 70.810 375.728, 85.801 360.241, 103.458 354.735 C 113.180 351.704, 126.820 351.704, 136.542 354.735 C 154.107 360.213, 169.214 375.818, 173.660 393.080 L 175.443 400 256 400 L 336.557 400 338.340 393.080 C 342.810 375.728, 357.801 360.241, 375.458 354.735 C 385.180 351.704, 398.820 351.704, 408.542 354.735 C 426.107 360.213, 441.214 375.818, 445.660 393.080 L 447.443 400 461.267 400 C 474.611 400, 475.176 399.915, 477.545 397.545 C 479.856 395.234, 480 394.442, 480 384 C 480 373.558, 479.856 372.766, 477.545 370.455 C 476.195 369.105, 474.192 368, 473.093 368 C 469.672 368, 466.178 365.854, 465.149 363.120 C 464.607 361.679, 463.903 357.291, 463.585 353.368 C 462.219 336.496, 455.455 322.392, 442.532 309.468 C 432.827 299.763, 425.464 295.198, 412.500 290.849 L 405.500 288.500 236.500 288.343 C 114.860 288.231, 66.519 288.498, 64 289.299 M 73.994 296.876 C 62.788 300.545, 56.567 308.800, 56.567 320 C 56.567 333.748, 66.249 343.426, 80 343.426 C 93.751 343.426, 103.433 333.748, 103.433 320 C 103.433 310.469, 98.991 303.126, 90.622 298.823 C 86.311 296.606, 77.845 295.615, 73.994 296.876 M 252.051 297.427 C 250.704 298.173, 249.273 299.620, 248.871 300.642 C 247.611 303.846, 247.852 384.580, 249.130 387.385 C 251.660 392.939, 260.340 392.939, 262.870 387.385 C 264.436 383.949, 264.454 304.090, 262.890 300.657 C 261.817 298.302, 258.178 295.963, 255.703 296.035 C 255.041 296.055, 253.398 296.681, 252.051 297.427 M 388.051 297.427 C 386.704 298.173, 385.273 299.620, 384.871 300.642 C 383.651 303.744, 383.871 336.622, 385.130 339.385 C 387.660 344.939, 396.340 344.939, 398.870 339.385 C 400.376 336.080, 400.392 303.955, 398.890 300.657 C 397.817 298.302, 394.178 295.963, 391.703 296.035 C 391.041 296.055, 389.398 296.681, 388.051 297.427 M 74.455 314.455 C 69.494 319.415, 73.009 328, 80 328 C 84.111 328, 88 324.111, 88 320 C 88 315.889, 84.111 312, 80 312 C 78.052 312, 76.002 312.907, 74.455 314.455 M 110.618 369.048 C 104.290 370.638, 95.284 375.968, 90.912 380.711 C 88.667 383.147, 85.405 388.147, 83.665 391.820 C 80.799 397.869, 80.500 399.402, 80.500 408.052 C 80.500 417.067, 80.710 418.028, 84.235 425.160 C 96.577 450.132, 128.514 455.581, 148.048 436.048 C 160.383 423.712, 163.274 406.084, 155.536 390.391 C 149.030 377.198, 136.802 369.135, 122.249 368.442 C 117.987 368.239, 112.753 368.512, 110.618 369.048 M 382.618 369.048 C 376.290 370.638, 367.284 375.968, 362.912 380.711 C 360.667 383.147, 357.405 388.147, 355.665 391.820 C 352.799 397.869, 352.500 399.402, 352.500 408.052 C 352.500 417.067, 352.710 418.028, 356.235 425.160 C 368.577 450.132, 400.514 455.581, 420.048 436.048 C 432.383 423.712, 435.274 406.084, 427.536 390.391 C 421.030 377.198, 408.802 369.135, 394.249 368.442 C 389.987 368.239, 384.753 368.512, 382.618 369.048 M 112.173 385.269 C 106.854 386.971, 99.418 394.324, 97.590 399.690 C 94.287 409.383, 96.137 417.205, 103.466 424.534 C 113.701 434.769, 127.824 434.551, 137.299 424.012 C 146.409 413.879, 146.171 400.486, 136.715 391.216 C 130.087 384.717, 120.874 382.485, 112.173 385.269 M 384.173 385.269 C 378.854 386.971, 371.418 394.324, 369.590 399.690 C 366.287 409.383, 368.137 417.205, 375.466 424.534 C 385.701 434.769, 399.824 434.551, 409.299 424.012 C 418.409 413.879, 418.171 400.486, 408.715 391.216 C 402.087 384.717, 392.874 382.485, 384.173 385.269 M 114.455 402.455 C 109.494 407.415, 113.009 416, 120 416 C 124.111 416, 128 412.111, 128 408 C 128 403.889, 124.111 400, 120 400 C 118.052 400, 116.002 400.907, 114.455 402.455 M 386.455 402.455 C 384.907 404.002, 384 406.052, 384 408 C 384 409.948, 384.907 411.998, 386.455 413.545 C 388.002 415.093, 390.052 416, 392 416 C 393.948 416, 395.998 415.093, 397.545 413.545 C 399.093 411.998, 400 409.948, 400 408 C 400 406.052, 399.093 404.002, 397.545 402.455 C 395.998 400.907, 393.948 400, 392 400 C 390.052 400, 388.002 400.907, 386.455 402.455 M 170.174 458.314 C 167.195 461.486, 167.261 466.957, 170.314 469.826 C 172.267 471.660, 173.804 472, 180.140 472 C 186.699 472, 187.927 471.706, 189.826 469.686 C 192.805 466.514, 192.739 461.043, 189.686 458.174 C 187.733 456.340, 186.196 456, 179.860 456 C 173.301 456, 172.073 456.294, 170.174 458.314 M 210.174 458.314 C 207.195 461.486, 207.261 466.957, 210.314 469.826 L 212.629 472 276.140 472 L 339.651 472 341.826 469.686 C 344.805 466.514, 344.739 461.043, 341.686 458.174 L 339.371 456 275.860 456 L 212.349 456 210.174 458.314 M 74.174 482.314 C 71.195 485.486, 71.261 490.957, 74.314 493.826 C 76.267 495.660, 77.804 496, 84.140 496 C 90.699 496, 91.927 495.706, 93.826 493.686 C 96.805 490.514, 96.739 485.043, 93.686 482.174 C 91.733 480.340, 90.196 480, 83.860 480 C 77.301 480, 76.073 480.294, 74.174 482.314 M 114.174 482.314 C 111.195 485.486, 111.261 490.957, 114.314 493.826 L 116.629 496 256.140 496 L 395.651 496 397.826 493.686 C 400.805 490.514, 400.739 485.043, 397.686 482.174 L 395.371 480 255.860 480 L 116.349 480 114.174 482.314"
				stroke="none"
				fill="#0e0e0e"
				fill-rule="evenodd"/>
			</svg>
			<span class="text-xl font-bold sm:text-2xl">All about autonomous driving</span>
		</a>
		<nav
			aria-label="Main menu"
			class="absolute -inset-x-4 top-14 hidden flex-col items-end gap-y-4 rounded-md bg-bgColor/[.85] py-4 text-accent shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-1 sm:flex sm:flex-row sm:items-center sm:divide-x sm:divide-dashed sm:divide-accent sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none"
			id="navigation-menu"
		>
			{
				menuLinks.map((link) => (
					<a
						aria-current={url.pathname === link.path ? "page" : false}
						class="px-4 py-4 underline-offset-2 sm:py-0 sm:hover:underline"
						data-astro-prefetch
						href={link.path}
					>
						{link.title}
					</a>
				))
			}
		</nav>
	</div>
	<Search />
	<ThemeToggle />
	<mobile-button>
		<button
			aria-expanded="false"
			aria-haspopup="menu"
			aria-label="Open main menu"
			class="group relative ms-4 h-7 w-7 sm:invisible sm:hidden"
			id="toggle-navigation-menu"
			type="button"
		>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
				fill="none"
				focusable="false"
				id="line-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M3.75 9h16.5m-16.5 6.75h16.5" stroke-linecap="round" stroke-linejoin="round"
				></path>
			</svg>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 text-accent opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
				class="text-accent"
				fill="none"
				focusable="false"
				id="cross-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
			</svg>
		</button>
	</mobile-button>
</header>

<script>
	import { toggleClass } from "@/utils";

	class MobileNavBtn extends HTMLElement {
		private headerEl: HTMLElement;
		private menuOpen: boolean;
		private mobileButtonEl: HTMLButtonElement;

		toggleMobileMenu = () => {
			toggleClass(this.headerEl, "menu-open");
			this.menuOpen = !this.menuOpen;
			this.mobileButtonEl.setAttribute("aria-expanded", this.menuOpen.toString());
		};

		constructor() {
			super();
			this.headerEl = document.getElementById("main-header")!;
			this.mobileButtonEl = this.querySelector("button") as HTMLButtonElement;
			this.menuOpen = false;

			this.mobileButtonEl.addEventListener("click", this.toggleMobileMenu);
		}
	}

	customElements.define("mobile-button", MobileNavBtn);
</script>
