---
import aboutImg from "@/assets/about-me.png";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<p>
			👋🏼 Hello there,
		</p>
		<p>
			My name is Hankyu, and I am the author of this blog.
			I have been working in autonomous driving field since 2022.
			I started my journey with ROS and small 4-wheel robot.
			Over time, I gradually shifted fully towards the road vehicle.
			Nowadays, I primarily work with the Network, Socket Communication, and DDS etc.
		</p>
		<div class="flex justify-center">
			<Image
				alt="A cartoon cactus looking at the 'Astro.build' logo"
				fetchpriority="high"
				loading="eager"
				src={aboutImg}
			/>
		</div>
		<p>I am currently working in autonomous driving simulator company MORAI.
			I also enjoy working on my own personal side projects in my free time.
			I will share more about these side projets in the future.
		</p>

		<h3 class="title mb-6">
			Tech stacks that I use:
		</h3>
		<ul class="list-inside list-disc">
			<li>I am proficient in programming languages such as C, C++, C#, and Python.</li>
			<li>I'm big fan of the ROS community. ( Socket Communication, I luv you too.)</li>
			<li>I'm really into software theory, like design patterns.</li>
			<li>I am a Git professional, I made a class for Advanced Git!</li>
			<li>My technical skills include RF Antenna, GPS, Actuator Control, UI Design, Embedded Systems, and Serial Communication.</li>
			<li>I have designer's blood since I make a GUI with Qt and built my own website!</li>
		</ul>
		<h3 class="title mb-6">
			My Achievements:
		</h3>
		<p>To be honest, I am a man with no great achievements so far. I have small victories that I hope to turn into major ones someday.
		</p>
		<h3 class="title mb-6">
			My focus areas for this year:
		</h3>
		<p>I am currently focusing on the following things:
		</p>
		<ul class="list-inside list-disc">
			<li>Write articles consistently on my blogs</li>
			<li>Focusing on career</li>
			<li>Review 3 autonomous driving companys in Korea</li>
			<li>Get the 95+ score in TOEFL</li>
			<li>Work on my side project</li>
			<li>Regular Yoga and Meditation</li>
		</ul>
		<h3 class="title mb-6">
			A few things I am very passionate about:
		</h3>
		<ul class="list-inside list-disc">
			<li>Writing my thoughts out loud</li>
			<li>Sharing my knowledge</li>
			<li>Shaping different ideas to reality</li>
			<li>Making things easier by building something efficient</li>
			<li>Reading spiritual and self-help books</li>
		</ul>
		<p>I love any kind of sports, I need minimum one sport to survive. Here is a list of my favorite sports:
		</p>
		<ul class="list-inside list-disc">
			<li>Swimming</li>
			<li>Jogging</li>
			<li>Hitting the gym</li>
			<li>Boxing</li>
			<li>Yoga</li>
			<li>Scuba diving</li>
			<li>Basketball</li>
		</ul>
		<p>Here is a list of sports that I wanna learn:
		</p>
		<ul class="list-inside list-disc">
			<li>Horse Riding</li>
			<li>Figure Skating</li>
			<li>Taekwondo</li>
			<li>Jiujitsu</li>
			<li>Fencing</li>
			<li>Skydiving</li>
		</ul>
		<h3 class="title mb-6">
			How I got into autonomous driving:
		</h3>
		<p>I always wanted to be a scientist when I was a kid, but everything changed after I met engineering.
			I fell in love with it, even though people are doing engineering for many other reasons.
			I didn't get good grade on every class equally. I just did what I loved.
		</p>
		<p>One of them was programming, and the other was control.
			Like this, I really liked english class and still keep in touch with my freshman liberal arts (english) professor.
			Gave me chance to deal with cutting-edge technology as a club member of my university.
		</p>
		<p>Autonomous driving technologies made me stay up all night.
			Bayesian Probablity, Deep Learning, end-to-end driving model, and reinforcement learning etc.
			I'd love to apply various skillsets such as EKF and path planning algorithm.
		</p>
		<h3 class="title mb-6">
			Fun facts about me:
		</h3>
		<p>I rarely consume caffeine. I am mostly a sweet lemonade and sweet yogurt lover.
		</p>
		<p>I am not a fan of e-sport. There is stereotype that all the Korean good at it and love it.
			Most of programmer also love gaming, and people are crazy about it here. But not me. So please don't hate me for this.
		</p>
		<h3 class="title mb-6">
			Contact:
		</h3>
		<p>I will launch a newsletter once I get a hang of all these things. So you guys can subscribe to it for the latest updates on the articles I write here.
		</p>
		<p>If you are also passionate and share similar interests, please don't hesitate to contact me on any of these channels.
		</p>
		<p>I would love to have a good discussion about different ideas, collaboration opportunities, and any non-tech and general life discussions. Even if you don't have anything to discuss, just say Hi. 🙋️
		</p>
		<p>
			Please reach out to me on <a
				aria-label="linkedin"
				class="cactus-link inline-block"
				href="https://www.linkedin.com/in/hankyu-kim-hardworker/"
				rel="noopener noreferrer"
				target="_blank">linkedin</a
			> if you would like to have a chat!
		</p>
	</div>
</PageLayout>
