---
import DesignPatternsImg from "@/assets/SOLID.jpeg";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">SOLID Principle and Design Patterns</h1>
		<p>
			SOLID abbreviation represents :
		</p>
		<p>
			SRP(Single Responsibility Principle) - A class should have only one responsibility.
		</p>
		<p>
			OCP(Open Closed Principle) - Software entities should be open for extension, but closed for modification
		</p>
		<p>
			LSP(Liskov Substitution Principle) - Functions that use pointers or references to base classes must be able to use objects of derived classes.
		</p>
		<p>
			ISP(Interface Segregation Principle) - Interfaces can be segregated for clients not depending on interfaces that they do not use.
		</p>
		<p>
			DIP(Dependency Inversion Principle) - Depend upon abstractions, not concretes.
		</p>
		<div class="flex justify-center">
			<Image
				alt="A cartoon cactus looking at the 'Astro.build' logo"
				fetchpriority="high"
				loading="eager"
				src={DesignPatternsImg}
			/>
		</div>
</PageLayout>
