---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

// const cactusTech: { desc: string; href: string; title: string }[] = [
// 	{
// 		desc: "Build fast websites, faster.",
// 		href: "https://astro.build",
// 		title: "Astro",
// 	}
// ];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">All about autonomous driving</h1>
		<p class="mb-4">
			𝘐 𝘩𝘢𝘷𝘦 𝘢 𝘬𝘦𝘦𝘯 𝘪𝘯𝘵𝘦𝘳𝘦𝘴𝘵 𝘢𝘯𝘥 𝘱𝘢𝘴𝘴𝘪𝘰𝘯 𝘧𝘰𝘳 𝘢𝘶𝘵𝘰𝘯𝘰𝘮𝘰𝘶𝘴 𝘥𝘳𝘪𝘷𝘪𝘯𝘨 𝘵𝘦𝘤𝘩𝘯𝘰𝘭𝘰𝘨𝘺. 𝘈𝘶𝘵𝘰𝘯𝘰𝘮𝘰𝘶𝘴 𝘤𝘢𝘳𝘴 𝘰𝘧𝘧𝘦𝘳 𝘭𝘪𝘮𝘪𝘵𝘭𝘦𝘴𝘴 𝘴𝘤𝘦𝘯𝘢𝘳𝘪𝘰𝘴 𝘧𝘰𝘳 𝘤𝘰𝘯𝘷𝘦𝘯𝘪𝘦𝘯𝘤𝘦 𝘢𝘯𝘥 𝘲𝘶𝘢𝘭𝘪𝘵𝘺-𝘰𝘧-𝘭𝘪𝘧𝘦 𝘪𝘮𝘱𝘳𝘰𝘷𝘦𝘮𝘦𝘯𝘵𝘴. 𝘛𝘩𝘦𝘺 𝘤𝘢𝘯 𝘱𝘳𝘰𝘷𝘪𝘥𝘦 𝘪𝘯𝘥𝘦𝘱𝘦𝘯𝘥𝘦𝘯𝘤𝘦 𝘵𝘰 𝘵𝘩𝘦 𝘦𝘭𝘥𝘦𝘳𝘭𝘺 𝘢𝘯𝘥 𝘱𝘩𝘺𝘴𝘪𝘤𝘢𝘭𝘭𝘺 𝘥𝘪𝘴𝘢𝘣𝘭𝘦𝘥 𝘪𝘯𝘥𝘪𝘷𝘪𝘥𝘶𝘢𝘭𝘴. 𝘍𝘰𝘳 𝘪𝘯𝘴𝘵𝘢𝘯𝘤𝘦, 𝘪𝘧 𝘺𝘰𝘶𝘳 𝘤𝘩𝘪𝘭𝘥𝘳𝘦𝘯 𝘧𝘰𝘳𝘨𝘦𝘵 𝘵𝘩𝘦𝘪𝘳 𝘣𝘢𝘵𝘩𝘪𝘯𝘨 𝘴𝘶𝘪𝘵𝘴 𝘢𝘯𝘥 𝘵𝘰𝘰𝘵𝘩𝘣𝘳𝘶𝘴𝘩𝘦𝘴 𝘢𝘵 𝘴𝘶𝘮𝘮𝘦𝘳 𝘤𝘢𝘮𝘱, 𝘵𝘩𝘦 𝘤𝘢𝘳 𝘤𝘰𝘶𝘭𝘥 𝘣𝘳𝘪𝘯𝘨 𝘵𝘩𝘦𝘮 𝘵𝘩𝘦 𝘮𝘪𝘴𝘴𝘪𝘯𝘨 𝘪𝘵𝘦𝘮𝘴. 𝘠𝘰𝘶 𝘤𝘢𝘯 𝘦𝘷𝘦𝘯 𝘴𝘦𝘯𝘥 𝘺𝘰𝘶𝘳 𝘥𝘰𝘨 𝘵𝘰 𝘢 𝘷𝘦𝘵𝘦𝘳𝘪𝘯𝘢𝘳𝘺 𝘢𝘱𝘱𝘰𝘪𝘯𝘵𝘮𝘦𝘯𝘵 𝘶𝘴𝘪𝘯𝘨 𝘢𝘶𝘵𝘰𝘯𝘰𝘮𝘰𝘶𝘴 𝘤𝘢𝘳𝘴.
			𝘐 𝘢𝘮 𝘱𝘢𝘴𝘴𝘪𝘰𝘯𝘢𝘵𝘦 𝘢𝘣𝘰𝘶𝘵 𝘤𝘰𝘯𝘵𝘳𝘪𝘣𝘶𝘵𝘪𝘯𝘨 𝘵𝘰 𝘵𝘩𝘦 𝘳𝘦𝘴𝘦𝘢𝘳𝘤𝘩 𝘢𝘯𝘥 𝘥𝘦𝘷𝘦𝘭𝘰𝘱𝘮𝘦𝘯𝘵 𝘰𝘧 𝘢𝘶𝘵𝘰𝘯𝘰𝘮𝘰𝘶𝘴 𝘥𝘳𝘪𝘷𝘪𝘯𝘨 𝘵𝘦𝘤𝘩𝘯𝘰𝘭𝘰𝘨𝘺, 𝘬𝘦𝘦𝘱𝘪𝘯𝘨 𝘪𝘯 𝘮𝘪𝘯𝘥 𝘵𝘩𝘦 𝘱𝘰𝘴𝘴𝘪𝘣𝘪𝘭𝘪𝘵𝘪𝘦𝘴 𝘪𝘵 𝘩𝘰𝘭𝘥𝘴. 𝘞𝘪𝘵𝘩 𝘮𝘺 𝘴𝘬𝘪𝘭𝘭𝘴 𝘢𝘯𝘥 𝘬𝘯𝘰𝘸𝘭𝘦𝘥𝘨𝘦, 𝘐 𝘢𝘪𝘮 𝘵𝘰 𝘤𝘰𝘯𝘵𝘳𝘪𝘣𝘶𝘵𝘦 𝘵𝘰 𝘢 𝘴𝘶𝘴𝘵𝘢𝘪𝘯𝘢𝘣𝘭𝘦 𝘧𝘶𝘵𝘶𝘳𝘦 𝘵𝘳𝘢𝘯𝘴𝘱𝘰𝘳𝘵𝘢𝘵𝘪𝘰𝘯 𝘴𝘺𝘴𝘵𝘦𝘮.
			𝘐 𝘢𝘮 𝘤𝘶𝘳𝘳𝘦𝘯𝘵𝘭𝘺 𝘸𝘰𝘳𝘬𝘪𝘯𝘨 𝘪𝘯 𝘢𝘶𝘵𝘰𝘯𝘰𝘮𝘰𝘶𝘴 𝘥𝘳𝘪𝘷𝘪𝘯𝘨 𝘴𝘪𝘮𝘶𝘭𝘢𝘵𝘰𝘳 𝘤𝘰𝘮𝘱𝘢𝘯𝘺 𝑴𝑶𝑹𝑨𝑰. 𝘗𝘭𝘦𝘢𝘴𝘦 𝘧𝘦𝘦𝘭 𝘧𝘳𝘦𝘦 𝘵𝘰 𝘮𝘦𝘴𝘴𝘢𝘨𝘦 𝘮𝘦. 𝘐'𝘮 𝘭𝘰𝘰𝘬𝘪𝘯𝘨 𝘧𝘰𝘳𝘸𝘢𝘳𝘥 𝘵𝘰 𝘴𝘩𝘢𝘳𝘦 𝘢𝘯𝘥 𝘤𝘰𝘯𝘯𝘦𝘤𝘵.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<!-- <section class="mt-16">
		<h2 class="title mb-4 text-xl">Technologies</h2>
		<dl class="space-y-4">
			{
				cactusTech.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 sm:flex-row">
						<dt>
							<span class="flex">
								<a class="cactus-link" href={href} rel="noopener noreferrer" target="_blank">
									{title}
								</a>
								:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section> -->
</PageLayout>
